[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=PeerTube
Exec=mycroft-gui-app --hideTextInput --skill=peertube-skill.aiix.home
Icon=peertube-skill
Categories=VoiceApp
StartupNotify=false
